name: Test WinRM Connection

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test_connect:
    runs-on: self-hosted
    steps:
      - name: Ping the target machine
        run: |
          ping -n 4 192.168.1.91

      - name: Test WinRM port 5985 (HTTP) connection
        run: |
          $server = '192.168.1.91'
          $username = 'Administrator'
          $password = 'Trinh2002'

          $securePassword = ConvertTo-SecureString $password -AsPlainText -Force
          $credential = New-Object System.Management.Automation.PSCredential($username, $securePassword)

          try {
            $session = New-PSSession -ComputerName $server -Credential $credential -ErrorAction Stop
            Write-Host "Successfully connected to $server via WinRM"
            Remove-PSSession $session
          } catch {
            Write-Error "Failed to connect to $server via WinRM"
            exit 1
          }
