name: Deploy GunnyWeb to IIS

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build the application
        run: dotnet build --no-restore

      - name: Test the application
        run: dotnet test --no-build --verbosity normal

      - name: Publish the application
        run: dotnet publish --configuration Release --output ./publish

      - name: Upload published application as artifact
        uses: actions/upload-artifact@v4
        with:
          name: publish  # Đảm bảo rằng tên artifact khớp
          path: ./publish
      - name: Verify artifact upload
        run: |
          dir .\publish

  deploy:
    runs-on: windows-latest

    steps:
      - name: Download published application
        uses: actions/download-artifact@v4
        with:
          name: publish  # Đảm bảo tên artifact khớp

      - name: Deploy to IIS on VM
        run: |
          $server = '192.168.1.53'
          $username = 'Administrator'
          $password = 'Trinh2002'
          $destinationPath = 'C:\inetpub\wwwroot\GunnyWeb'

          $securePassword = ConvertTo-SecureString $password -AsPlainText -Force
          $credential = New-Object System.Management.Automation.PSCredential($username, $securePassword)

          Invoke-Command -ComputerName $server -Credential $credential -ScriptBlock {
              Copy-Item -Path './publish/*' -Destination $destinationPath -Recurse
          }

          Invoke-Command -ComputerName $server -Credential $credential -ScriptBlock {
              iisreset
          }

      - name: Notify success
        run: echo "Deployment to IIS was successful."
